<a href="https://colab.research.google.com/github/heitorfersan/delivery-analise-dados/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [5]:
#Carregar o arquivo
pedidos = pd.read_csv("/content/pedidos.csv")

In [6]:
#Visualizar os primeiros registros
pedidos.head()

,ID_Pedido,Data,Cliente_ID,Item,Quantidade,Preco_Unitario
0,1,2023-11-16,222,Torta de Limao,23.0,12.93
1,2,2024-05-25,232,Esfiha,NaN,5.87
2,3,2024-12-20,276,Wrap de Frango,7.0,25.98
3,4,2024-10-17,198,Batata Frita,NaN,11.62
4,5,2023-07-06,385,Esfiha,17.0,6.94

In [7]:
#Visualizar os últimos registros
pedidos.tail()

,ID_Pedido,Data,Cliente_ID,Item,Quantidade,Preco_Unitario
445,446,2024-02-27,360,Salada Caesar,30.0,27.35
446,447,2025-05-29,228,Salada Caesar,24.0,29.40
447,448,2025-08-23,243,Agua Mineral,26.0,4.54
448,449,2024-08-30,191,Pizza Calabresa,9.0,45.85
449,450,2025-09-29,122,Yakisoba,8.0,31.72

In [8]:
#Estrutura geral do DataFrame
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Pedido       450 non-null    int64
 1   Data            450 non-null    object
 2   Cliente_ID      450 non-null    int64
 3   Item            450 non-null    object
 4   Quantidade      431 non-null    float64
 5   Preco_Unitario  430 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 21.2+ KB

In [9]:
#Estatísticas descritivas
pedidos.describe()

        ID_Pedido  Cliente_ID  Quantidade  Preco_Unitario
count  450.000000  450.000000  431.000000      430.000000
mean   225.500000  245.864444   15.902552       17.856581
std    130.048068   88.360604    9.087931       11.601652
min      1.000000  100.000000    1.000000        4.090000
25%    113.250000  169.000000    8.000000        8.920000
50%    225.500000  241.500000   16.000000       13.095000
75%    337.750000  325.750000   24.000000       27.402500
max    450.000000  399.000000   30.000000       46.070000

In [19]:
pedidos.head()

,ID_Pedido,Data,Cliente_ID,Item,Quantidade,Preco_Unitario
0,1,2023-11-16,222,Torta de Limao,23.0,12.93
1,2,2024-05-25,232,Esfiha,NaN,5.87
2,3,2024-12-20,276,Wrap de Frango,7.0,25.98
3,4,2024-10-17,198,Batata Frita,NaN,11.62
4,5,2023-07-06,385,Esfiha,17.0,6.94

In [26]:
#Criação de Nova Coluna (Feature Engineering)
pedidos["Receita_total"] = pedidos["Quantidade"] * pedidos["Preco_Unitario"]
pedidos.head()

,ID_Pedido,Data,Cliente_ID,Item,Quantidade,Preco_Unitario,Receita_total
0,1,2023-11-16,222,Torta de Limao,23.0,12.93,297.39
1,2,2024-05-25,232,Esfiha,NaN,5.87,NaN
2,3,2024-12-20,276,Wrap de Frango,7.0,25.98,181.86
3,4,2024-10-17,198,Batata Frita,NaN,11.62,NaN
4,5,2023-07-06,385,Esfiha,17.0,6.94,117.98

In [29]:
#Verificar se existe Valores Ausentes
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Pedido       450 non-null    int64
 1   Data            450 non-null    object
 2   Cliente_ID      450 non-null    int64
 3   Item            450 non-null    object
 4   Quantidade      431 non-null    float64
 5   Preco_Unitario  430 non-null    float64
 6   Receita_total   412 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 24.7+ KB

In [30]:
#Verificar se existe Valores Ausentes
pedidos.isna().sum()

ID_Pedido          0
Data               0
Cliente_ID         0
Item               0
Quantidade        19
Preco_Unitario    20
Receita_total     38
dtype: int64

In [31]:
# Preencher valores nulos em Quantidade com a média
pedidos["Quantidade"].fillna(pedidos["Quantidade"].mean(), inplace=True)

/tmp/ipython-input-603700065.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  pedidos["Quantidade"].fillna(pedidos["Quantidade"].mean(), inplace=True)

In [32]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Pedido       450 non-null    int64
 1   Data            450 non-null    object
 2   Cliente_ID      450 non-null    int64
 3   Item            450 non-null    object
 4   Quantidade      450 non-null    float64
 5   Preco_Unitario  430 non-null    float64
 6   Receita_total   412 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 24.7+ KB

In [34]:
#Remover linhas com preço unitário nulo
pedidos.dropna(subset=["Preco_Unitario"], inplace=True)

In [35]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 430 entries, 0 to 449
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Pedido       430 non-null    int64
 1   Data            430 non-null    object
 2   Cliente_ID      430 non-null    int64
 3   Item            430 non-null    object
 4   Quantidade      430 non-null    float64
 5   Preco_Unitario  430 non-null    float64
 6   Receita_total   412 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 26.9+ KB

In [36]:
pedidos.head()

,ID_Pedido,Data,Cliente_ID,Item,Quantidade,Preco_Unitario,Receita_total
0,1,2023-11-16,222,Torta de Limao,23.000000,12.93,297.39
1,2,2024-05-25,232,Esfiha,15.902552,5.87,NaN
2,3,2024-12-20,276,Wrap de Frango,7.000000,25.98,181.86
3,4,2024-10-17,198,Batata Frita,15.902552,11.62,NaN
4,5,2023-07-06,385,Esfiha,17.000000,6.94,117.98

In [50]:
#Quantidade total e receita total por item - Agrupando
resumo_itens = pedidos.groupby("Item")[["Quantidade", "Receita_total"]].sum().reset_index()

In [49]:
print(pedidos.groupby("Item")[["Quantidade", "Receita_total"]].sum().reset_index())

                   Item  Quantidade  Receita_total
0            Acai 300ml  402.902552        6249.76
1          Agua Mineral  327.902552        1392.59
2          Batata Frita  323.902552        3785.57
3               Brownie  465.902552        4440.02
4         Cafe Expresso  392.000000        2657.71
5              Empanada  321.902552        2762.86
6                Esfiha  364.707657        2075.60
7            Hamburguer  510.805104       10859.02
8                Pastel  238.000000        2215.46
9       Pizza Calabresa  372.805104       14545.57
10      Pizza Mussarela  349.000000       14148.69
11    Refrigerante Lata  343.000000        2606.87
12        Salada Caesar  352.000000        9927.96
13  Smoothie de Morango  325.902552        4511.67
14      Sorvete 2 bolas  284.000000        3137.76
15      Suco de Laranja  263.805104        2116.74
16        Sushi 8 pecas  378.902552       11552.58
17       Torta de Limao  249.805104        2870.18
18       Wrap de Frango  248.000000        6611.08
19             Yakisoba  318.000000        9514.64

In [53]:
#Top 5 itens mais vendidos (quantidade)
top_5_quantidade = resumo_itens.sort_values(
    by="Quantidade", ascending=False
).head(5)

In [54]:
print(top_5_quantidade)

             Item  Quantidade  Receita_total
7      Hamburguer  510.805104       10859.02
3         Brownie  465.902552        4440.02
0      Acai 300ml  402.902552        6249.76
4   Cafe Expresso  392.000000        2657.71
16  Sushi 8 pecas  378.902552       11552.58

In [55]:
#Top 5 itens que mais geraram receita
top_5_receita = resumo_itens.sort_values(
    by="Receita_total", ascending=False
).head(5)

In [56]:
print(top_5_receita)

               Item  Quantidade  Receita_total
9   Pizza Calabresa  372.805104       14545.57
10  Pizza Mussarela  349.000000       14148.69
16    Sushi 8 pecas  378.902552       11552.58
7        Hamburguer  510.805104       10859.02
12    Salada Caesar  352.000000        9927.96

In [58]:
#Converter a coluna de data - Análise Temporal
pedidos["Data"] = pd.to_datetime(pedidos["Data"])
print(pedidos.info())

<class 'pandas.core.frame.DataFrame'>
Index: 430 entries, 0 to 449
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Pedido       430 non-null    int64
 1   Data            430 non-null    datetime64[ns]
 2   Cliente_ID      430 non-null    int64
 3   Item            430 non-null    object
 4   Quantidade      430 non-null    float64
 5   Preco_Unitario  430 non-null    float64
 6   Receita_total   412 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 43.0+ KB
None

In [59]:
#Extrair o mês do pedido
pedidos["Mes"] = pedidos["Data"].dt.to_period("M")
print(pedidos.head())

   ID_Pedido       Data  Cliente_ID            Item  Quantidade  \
0          1 2023-11-16         222  Torta de Limao   23.000000
1          2 2024-05-25         232          Esfiha   15.902552
2          3 2024-12-20         276  Wrap de Frango    7.000000
3          4 2024-10-17         198    Batata Frita   15.902552
4          5 2023-07-06         385          Esfiha   17.000000

   Preco_Unitario  Receita_total      Mes
0           12.93         297.39  2023-11
1            5.87            NaN  2024-05
2           25.98         181.86  2024-12
3           11.62            NaN  2024-10
4            6.94         117.98  2023-07

In [69]:
#Receita total por mês
receita_mensal = pedidos.groupby("Mes")["Receita_total"].sum()
print(receita_mensal)

Mes
2023-01    1879.97
2023-02    6646.03
2023-03    3751.15
2023-04    1395.98
2023-05    4064.00
2023-06    4097.09
2023-07    4481.54
2023-08    4256.75
2023-09    5872.16
2023-10    2999.95
2023-11    2622.57
2023-12    3717.83
2024-01    3209.71
2024-02    4405.02
2024-03    1178.62
2024-04    1760.79
2024-05    2706.61
2024-06    2473.85
2024-07    2490.38
2024-08    5654.99
2024-09    5502.73
2024-10    2143.73
2024-11    4278.91
2024-12    4130.16
2025-01    4740.43
2025-02    4960.49
2025-03    3053.31
2025-04    5140.09
2025-05    4229.78
2025-06    1513.78
2025-07    2909.91
2025-08    2779.26
2025-09    2934.76
Freq: M, Name: Receita_total, dtype: float64

In [65]:
#Upload do cardápio
cardapio = pd.read_csv("/content/cardapio.csv")
print(cardapio.head())

              Item  Categoria  Preco_Base
0       Hamburguer   Salgados        22.9
1     Batata Frita   Salgados        12.5
2  Pizza Mussarela   Salgados        39.9
3  Pizza Calabresa   Salgados        42.9
4    Salada Caesar  Saudaveis        28.0

In [76]:
#Merge entre pedidos e cardápio
pedidos_completo = pedidos.merge(
    cardapio,
    left_on="Item",
    right_on="Item",
    how="inner"
)
print(pedidos_completo.head())

   ID_Pedido       Data  Cliente_ID            Item  Quantidade  \
0          1 2023-11-16         222  Torta de Limao   23.000000
1          2 2024-05-25         232          Esfiha   15.902552
2          3 2024-12-20         276  Wrap de Frango    7.000000
3          4 2024-10-17         198    Batata Frita   15.902552
4          5 2023-07-06         385          Esfiha   17.000000

   Preco_Unitario  Receita_total      Mes  Categoria  Preco_Base
0           12.93         297.39  2023-11      Doces        12.9
1            5.87            NaN  2024-05   Salgados         6.5
2           25.98         181.86  2024-12  Saudaveis        26.5
3           11.62            NaN  2024-10   Salgados        12.5
4            6.94         117.98  2023-07   Salgados         6.5

In [78]:
#Receita por categoria
receita_mensal_categoria = pedidos_completo.groupby(["Mes", "Categoria"])["Receita_total"].sum()
print(receita_mensal_categoria)

Mes      Categoria
2023-01  Bebidas       360.10
         Doces         374.21
         Oriental      189.90
         Salgados      637.04
         Saudaveis     318.72
                       ...
2025-08  Oriental      650.56
         Salgados     1121.62
         Saudaveis     618.03
2025-09  Oriental     1167.64
         Salgados     1767.12
Name: Receita_total, Length: 143, dtype: float64

In [84]:
#Categoria gera mais receita
categoria_mais_receita = receita_mensal_categoria.idxmax()
print(categoria_mais_receita)

(Period('2023-09', 'M'), 'Salgados')

In [85]:
#Filtros e Consultas - Salgados com quantidade superior a 10 unidades
filtro_salgados = pedidos_completo[
    (pedidos_completo["Categoria"] =="Salgados") &
    (pedidos_completo["Quantidade"] >10)
]

filtro_salgados

,ID_Pedido,Data,Cliente_ID,Item,Quantidade,Preco_Unitario,Receita_total,Mes,Categoria,Preco_Base
1,2,2024-05-25,232,Esfiha,15.902552,5.87,NaN,2024-05,Salgados,6.5
3,4,2024-10-17,198,Batata Frita,15.902552,11.62,NaN,2024-10,Salgados,12.5
4,5,2023-07-06,385,Esfiha,17.000000,6.94,117.98,2023-07,Salgados,6.5
5,6,2023-02-04,260,Empanada,16.000000,9.48,151.68,2023-02,Salgados,8.9
14,15,2023-02-03,103,Batata Frita,14.000000,13.13,183.82,2023-02,Salgados,12.5
...,...,...,...,...,...,...,...,...,...,...
404,423,2023-02-05,252,Pizza Calabresa,16.000000,41.75,668.00,2023-02,Salgados,42.9
409,428,2023-07-11,278,Pastel,18.000000,9.30,167.40,2023-07,Salgados,9.5
415,434,2024-07-17,249,Esfiha,26.000000,5.96,154.96,2024-07,Salgados,6.5
422,442,2023-01-02,261,Esfiha,15.902552,6.83,NaN,2023-01,Salgados,6.5
424,444,2024-04-16,133,Esfiha,27.000000,6.50,175.50,2024-04,Salgados,6.5

In [87]:
#KPIs do Negócio - Receita total
receita_total = pedidos_completo["Receita_total"].sum()
print(receita_total)

117982.33000000002

In [89]:
#Total de itens vendidos
total_itens_vendidos = np.sum(pedidos["Quantidade"])
print(total_itens_vendidos)

6833.245939675175

In [91]:
#Ticket médio
ticket_medio = receita_total / pedidos.shape[0]
print(ticket_medio)

274.37751162790704